.categories {
 
  margin-right: 78%;
}

.category a:hover {
  color: #acce11; /* Изменяет цвет текста на зеленый при наведении на ссылку */
}


.all_categories a {
  font-weight: 400;
  color: #666774;
  text-decoration: inherit;
  padding-inline-end: 240px;
}

.h2 {
  font-size: 16px;
  padding-top: 13px;
  color: black;
  margin-right: 156px;
}

.slider {
  
  margin-top: 80px;
  margin-left: 2px;
}