.categories {
 
  margin-right: 78%;
}

.category a:hover {
  color: #acce11; /* Изменяет цвет текста на зеленый при наведении на ссылку */
}


.all_categories a {
  font-weight: 400;
  color: #666774;
  text-decoration: inherit;
  padding-inline-end: 240px;
}

.h2 {
  font-size: 16px;
  padding-top: 13px;
  color: black;
  margin-right: 156px;
}

.slider {
  
  margin-top: 80px;

}


@media (max-width: 480px) {
  .slider {
    /* Уменьшаем размер слайдера или делаем его на всю ширину */
    width: 100%;
  }

  .categories {
    padding: 10px; /* Добавляем отступы для лучшего восприятия на маленьких экранах */
    width: 100%;
  }

  .chapter_h {
    text-align: start;
  }

  .h2 {
    font-size: 18px; /* Уменьшаем размер шрифта заголовка */

  }

  .all_categories {
    display: flex;
    flex-wrap: wrap;
   
  }

  .category {
    flex: 0 0 100%; /* Каждая категория занимает всю ширину строки */
    margin-bottom: 10px; /* Добавляем отступ снизу */
   
  }
}
