.img_about {
    margin-top: 80px;
    text-align: start;
}
.cebi {
    margin-top: 75px;
}

.text_about {
    width: 1000px;
    text-align: justify;
    margin-left: 139px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.empire {
    text-align: end;
}

.secutity {
    text-align: start;
}