.img_card {
    width: 700px;
    height: 450px;
    margin-left: 400px;
    margin-top: 14px;
}

.card {
    margin: auto;
    width: 100%;
    margin-top: 100px;
}

/* card.module.css */
:global(.slick-prev),
:global(.slick-next) {
    background-color: rgb(143, 146, 134) !important; /* Задаем зеленый фоновый цвет */
    z-index: 1;
}


.options {
    margin-top: 60px;
}

.product_head {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
}

.data {
    text-align: start;
}

.data2 {
    text-align: start;
}

.head_li {
    background-color: #d0cfcf8f;
    list-style-type: none;
    width: 50%;
    height: 35px;
    padding-top: 10px;
}

.head_li2 {
    background-color: #d0cfcf8f;
    list-style-type: none;
    width: 50%;
    height: 35px;
    padding-top: 10px;

}

.activeButton {
    color: #fff; /* Белый текст */
    background-color: #cadb47; /* Синий фон */
  }
  

  @media (max-width: 480px) {
    .card {
      padding: 10px; /* Уменьшаем отступы */
    }
  
    .img_card {
      width: 100%; /* Заставляем изображение занимать всю доступную ширину */
      height: auto; /* Сохраняем пропорции изображения */
    }
  
    .product_head {
      flex-direction: column; /* Элементы списка в столбец */
    }
  
    .head_li, .head_li2 {
      font-size: 14px; /* Уменьшаем размер шрифта */
      padding: 5px; /* Уменьшаем отступы */
    }
  
    .data, .data2 {
      font-size: 12px; /* Уменьшаем размер шрифта для текста */
    }
  }
  