.upload {
  text-align: left;

  margin-top: 100px;
}

.h2_catalog {
  width: 90%;
  margin: auto;
  font-size: 36px;
  font-weight: 400;
}

.link a {
  width: 90%;
  margin: auto;
  color: black;
  font-weight: 300;
}

.link a:hover {
  color: #acce11;
}

.link {
  display: flex;
  width: 90%;
  margin: auto;
}

.link2 {
  width: 90%;
  margin: auto;
}

.link2 a {
  color: black;
  font-weight: 300;
}

.link2 a:hover {
  color: #acce11;
}

.workUse {
  width: 50%;
}

.catalog {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 500px;
}

.catalog2 {
  width: 50%;
  background-color: #80808066;
}

.logo {
  padding-left: 21px;
}

.img_saved {
  margin-top: 8px;
  margin-left: 15px;
}
/* В вашем файле upload.module.css добавьте следующие медиа-запросы */

@media (max-width: 480px) {
  .upload {
    padding: 10px; /* Уменьшаем отступы */
  }

  .catalog {
    flex-direction: column; /* Элементы теперь будут располагаться вертикально */
  }

  .catalog2 {
    align-items: center; /* Центрируем содержимое */
    width: 100%;
  }

  .h2_catalog {
    font-size: 18px; /* Уменьшаем размер шрифта заголовка */
  }

  .link a,
  .link2 a {
    font-size: 16px; /* Уменьшаем размер шрифта ссылок */
  }
  
  .workUse {
    width: 100%;
  }
  .workUse img {
    width: 100%; /* Изображение теперь будет занимать всю доступную ширину */
    height: auto; /* Высота изображения будет автоматически подстраиваться */
  }
}
