.container {
  display: flex;
  width: 1440px;

  margin: auto;
  padding-left: 5%;
  padding-top: 1%;
}

.cont_ul {
  display: flex;
  justify-content: space-around;
  width: 55%;
  list-style: none;
  font-size: 12px;
}

.cont_ul a {
  color: black;
  font-weight: 400;
}

.inp {
  width: 240px;
  box-shadow: none;
  margin-bottom: 20px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  align-items: center;
  font-size: 11px;
}
.form {
  padding-top: 16px;
}
.btn1 {
  background-color: #ffffff;
  border: none;
}

.head {
  border-bottom: 2px solid #ccc;
  height: 100px;
  position: fixed;
  top: 0;
  left: 42px;
  z-index: 1000;
  background-color: #fff;
}

.call {
  display: grid;
  margin-left: 50px;
  font-family: "robotobold";
  font-weight: 500;
  font-size: 12pt;
  align-items: center;
}

.mainLink {
  color: blue;
}

.mainLink:hover {
  color: #acce11;
}

.aboutLink {
  color: blue;
}

.aboutLink:hover {
  color: #acce11;
}

.contactLink {
  color: blue;
}

.contactLink:hover {
  color: #acce11;
}

.uploadLink {
  color: blue;
}

.uploadLink:hover {
  color: #acce11;
}
