.container {
  display: flex;
  width: 1440px;
  margin: auto;
  padding-left: 0; /* Изменено значение на 0 */
  padding-top: 1%;
}

.cont_ul {
  display: flex;
  justify-content: space-around;
  width: 55%;
  list-style: none;
  font-size: 12px;
}

.cont_ul a {
  color: black;
  font-weight: 400;
}

.inp {
  width: 240px;
  box-shadow: none;
  margin-bottom: 20px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  align-items: center;
  font-size: 11px;
}
.form {
  padding-top: 16px;
}
.btn1 {
  background-color: #ffffff;
  border: none;
}

.head {
  border-bottom: 2px solid #ccc;
  height: 100px;
  position: fixed;
  top: 0;
  left: 42px;
  z-index: 1000;
  background-color: #fff;
  margin-bottom: 100px;
}

.call {
  display: grid;
  margin-left: 50px;
  font-family: "robotobold";
  font-weight: 500;
  font-size: 12pt;
  align-items: center;
}

.mainLink {
  color: blue;
}

.mainLink:hover {
  color: #acce11;
}

.aboutLink {
  color: blue;
}

.aboutLink:hover {
  color: #acce11;
}

.contactLink {
  color: blue;
}

.contactLink:hover {
  color: #acce11;
}

.uploadLink {
  color: blue;
}

.uploadLink:hover {
  color: #acce11;
}


@media (max-width: 834px) {
  .container {
    padding: 10px; /* Примерное настроенное значение для меньших экранов */
    width: 700px;
    /* display: flex; */
    justify-content: flex-start;
    
  }


  .cebilogo img {
    width: 50px;
    height: 50px;
  }
  
  .cont_ul {
    /* Adjust styles for list container on smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 10%;
    height: 80px;
    font-size: 8px;
  }

  .inp {
   
    width: 80%;
    margin-bottom: 10px;
    margin-left: 1px;
  }

  .call {
 
    text-align: center;
    margin-left: 1px;
    width: 190px;
    font-size: 10px;
  }
}

@media (max-width: 431px) {
  .inp {
  
    width: 80%;
  }
  .cebilogo img {
    width: 50px;
    height: 50px;
  }
  .call {
    width: 5%;
    font-size: 10px;
  }

  .cont_ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    width: 9%;
    height: 38px;
    font-size: 7px;
  }

}
/* 

@media (max-width: 768px) {
  .cont_ul {
    display: none; 
  }

} */



@media (max-width: 1440px) {
  .container {
    margin: 0; /* Remove margin for smaller screens */
  }
}

