.inp {
  width: 240px;
  box-shadow: none;
  margin-bottom: 20px;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.hh {
  justify-content: left;
  display: flex;
}

.btn {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: right;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: #acce11; /* Цвет фона при наведении */
  color: white; /* Цвет текста при наведении, если нужно */
}

.media {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.footer {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo {
  margin-inline-end: 320px;
}

.span {
  font-size: 12px;
  margin-right: 160px;
}

.whatsapp {
  border-radius: 6px;
}

.telegram {
  border-radius: 6px;
}

/* Базовые стили для больших экранов уже определены, добавляем адаптации для меньших */

/* Стили для планшетов */

/* Основные стили для кнопки и текста */
.footer .btn {
  padding: 10px 20px;
  font-size: 16px; /* Базовый размер шрифта для кнопки */
  border-radius: 3px;
}

.footer .inp {
  font-size: 14px; /* Базовый размер шрифта для текстового поля */
}

@media (max-width: 480px) {
  .container {
    display: block;
  }

  .media {
    padding-top: 10px;
  }

  .media img {
    width: 30px;
    height: 30px;
  }
}
