
.doorhandles {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background-color: #eeeeeeb3;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-right: 10px; /* Adjusted margin for smaller screens */
  width: calc(100% - 20px); /* Adjusted width for smaller screens */
}

@media (min-width: 430px) {
  .doorhandles {
    width: 100%;
    justify-content: center;
    
  }
}





