.doorhandles {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    background-color: #eeeeeeb3;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-right: 75px;
    width: 1280px;
}

