.image_box {
    margin-top: 20px;

}

.image_last {
    max-width: 1280px;
}

.image_box {
    overflow: hidden; 
  }
  

  .image_last {
    transition: transform 0.5s ease; 
  }
  
 
  .image_box:hover .image_last {
    transform: scale(1.2); 
  }
  

  .image_box {
    display: flex;
    /* justify-content: center; */
  }
  
  .image_last {
    max-width: 100%; 
  }

  @media screen and (max-width: 768px) {
    .image_last {
      max-width: 50%;
      display: flex;
      justify-content: flex-start;
    }
  }
  
  @media screen and (max-width: 480px) {
    .image_last {
      max-width: 26%; 
      display: flex;
      justify-content: flex-start;
    }
  }