.image_box {
    margin-top: 20px;

}

.image_last {
    max-width: 1280px;
}

/* Стили для контейнера изображения */
.image_box {
    overflow: hidden; /* Обрезает изображение, выходящее за границы контейнера */
  }
  
  /* Стили для самого изображения */
  .image_last {
    transition: transform 0.5s ease; /* Плавное изменение за 0.5 секунд */
  }
  
  /* Стили для изображения при наведении */
  .image_box:hover .image_last {
    transform: scale(1.2); /* Увеличивает размер изображения в 1.2 раза */
  }
  