.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  margin-top: 95px;
  margin-bottom: 50px;
}

.number {
  display: flex;
  align-items: center;
}

.contacts2 {
  display: flex;
  align-items: center;
}

.media {
  display: grid;
  margin-left: 5px;
  text-align: left;
}
.adress {
  display: flex;
  align-items: center;
  max-width: 250px;
  font-size: 12px;
  text-align: left;
}

.rest {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.img {
  margin-right: 5px;
}
.map {
  margin-top: 100px;
  margin-bottom: 50px;
}

.text_a {
  color: blue;
}

.text_a:hover {
  color: #acce11;
}

@media (max-width: 480px) {
  .contacts {
    display: flex;
    align-items: center;
    padding: 10px;
    align-content: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .number,
  .contacts2,
  .adress,
  .rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    
  }

  .number img,
  .contacts2 img,
  .adress img,
  .rest img {
    width: 40%;
    height: auto;
  }

  .media,
  .adress div,
  .rest div {
    text-align: start;
    margin-top: 10px;
  }

  .text_a {
    word-break: break-word;
  }

  .map iframe {
    width: 100%;
    height: 300px;
  }
}
